@import "_nullstyle";
@import "_fonts";
//style.scss

@import "_global";
@import "_header.scss";

.frame1 {
    display: block;
    width: 100%;
    //frame1_left
    &__layout {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        width: 50%;
        height: 100%;
        & h1 {
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            display: inline-block;
            position: relative;
        }
    }
    &__underline {
        display: block;
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 100%;
        height: 1px;
        background-color: #263248;
    }
    &__info {
        color: #263248;
        font-size: 24px;
        font-family: Heuristica;
        & span {
            font-weight: 600;
        }
        &-margin80 {
        margin-top: 80px;
        }
        &-margin20 {
            margin-top: 20px;
        }
    }

    //frame1_right
    &__logo {
        width: 750px;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 0 0 10px #000;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            width: 100%;
        }
    }
}

@import "_footer.scss";
@import "_adaptive.scss";